<div class="center-container">
    <div class="form-centered">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="alert alert-success" role="alert" ng-if="!isEmptyObject(valid)">{{valid}}</div>
                <form name="myForm" ng-submit="submit()" ng-if="isEmptyObject(valid)">
                    <div class="form-group" ng-class="{'has-error': !myForm.$valid && click === 1 || !isEmptyObject(error), 'has-success': myForm.$valid && click === 1}">
                        <div class="alert alert-danger" role="alert" ng-if="!isEmptyObject(error)">{{error}}</div>
                        <label for="email">Url you want to shorten</label>
                        <input name="url" type="url" class="form-control" id="inputUrl" placeholder="http://" ng-model="url.urlshortener_url.url" ng-click="click = 1" required>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
